<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>186407513431-slehsbb6tdj66jgmce3enh961flg2jsi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.186407513431-slehsbb6tdj66jgmce3enh961flg2jsi</string>
	<key>API_KEY</key>
	<string>AIzaSyAK7hG12mg_t3_AskO_HCZLs2cCjI04rrU</string>
	<key>GCM_SENDER_ID</key>
	<string>186407513431</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.hdm.project.billtracker</string>
	<key>PROJECT_ID</key>
	<string>ws17-billtracker-8d080</string>
	<key>STORAGE_BUCKET</key>
	<string>ws17-billtracker-8d080.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:186407513431:ios:72d5618589532adf</string>
	<key>DATABASE_URL</key>
	<string>https://ws17-billtracker-8d080.firebaseio.com</string>
</dict>
</plist>