<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Billtracker.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>49F1FE771FE8868D00738832</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49F1FE8B1FE8868D00738832</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49F1FE961FE8868E00738832</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
